# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Airflow
# -----------------------------
airflow.db
airflow-webserver.pid

# -----------------------------
# Generated Data
# -----------------------------
data/raw/*
!data/raw/.gitkeep

raw_api/data/*

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/

# -----------------------------
# Build Files
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Operating System
# -----------------------------
.DS_Store
Thumbs.db